{#
/**
 * @file
 * Theme implementation to list sources available to the user.
 *
 * Available variables:
 * - sources: A list of sources
 *
 * @ingroup themeable
 */
#}
<div class="sources">
  {% if sources is not empty %}
    {% for source in sources %}
      {{ source }}
    {% endfor %}
  {% else %}
    <div class="general-content">
      {% trans %}No sources found{% endtrans %}
    </div>
  {% endif %}
</div>
