{#
/**
 * @file
 * Theme implementation to list channels available to the user.
 *
 * This list is displayed in the reader 'Channels' block.
 *
 * Available variables:
 * - channels: A list of channels, each with the following properties:
 *   - label: the label of the module providing the channels
 *   - items: a list of the actual channels
 *
 * @ingroup themeable
 */
#}
<div class="column-header__wrapper"><h1 class="column-header"><button><i role="img" class="fa fa-stream column-header__icon fa-fw"></i>{% trans %}Read{% endtrans %}</button></h1></div>
<div class="scrollable">
  {% if channels is not empty %}
      {% for channel in channels %}
        <div class="column-subheading">{{ channel.label }}</div>
        {% for item in channel.items %}
          {{ item }}
        {% endfor %}
      {% endfor %}
  {% else %}
    <div class="general-content">
      {% trans %}No channels found{% endtrans %}
    </div>
  {% endif %}
</div>
