{% if timeline is not empty %}
<div class="column-timeline">
  {{ timeline }}
</div>
  {% if pager %}
    <div class="pager">{{ pager }}</div>
  {% endif %}
  <div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-last">{% trans %}End of content{% endtrans %}</p>
    <p class="infinite-scroll-error">{% trans %}No more pages to load{% endtrans %}</p>
  </div>
{% else %}
  {{ empty }}
{% endif %}
