{#
/**
 * @file
 * Theme implementation to list node types available for adding content.
 *
 * This list is displayed in the reader 'CreateLinks' block.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_reader_write_list()
 *
 * @ingroup themeable
 */
#}
<div class="column-header__wrapper"><h1 class="column-header"><button><i role="img" class="fa fa-pencil-alt column-header__icon fa-fw"></i>{% trans %}Write{% endtrans %}</button></h1></div>
<div class="scrollable">
  {% if types is not empty %}
    <ul>
      {% for type in types %}
        <li>{{ type.add_link }}</li>
      {% endfor %}
    </ul>
    <div class="column-subheading">{% trans %}Other{% endtrans %}</div>
    <ul>
      {% for link in content %}
        <li>{{ link }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="general-content">
      {% trans %}No post types found{% endtrans %}
    </div>
  {% endif %}
</div>
