
@import 'breakpoint';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';

$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

$link_color: #4ea2df;

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family:"mastodon-font-sans-serif";
  src:local("Roboto"),
  url(../webfonts/roboto-regular-webfont.woff2) format("woff2"),
  url(../webfonts/roboto-regular-webfont.woff) format("woff"),
  url(../webfonts/roboto-regular-webfont.ttf) format("truetype"),
  url(../webfonts/roboto-regular-webfont.svg#roboto-regular-webfont) format("svg");
  font-weight:400;
  font-style:normal
}

html {
  scrollbar-color: #313543 rgba(0,0,0,.1);
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "mastodon-font-sans-serif",sans-serif;
  background: #191b22;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-rendering: optimizelegibility;
  font-feature-settings: "kern";
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

.dialog-off-canvas-main-canvas > .page-wrapper {
  height: 100%;
}

.app-holder, .ui {
  height: 100%;
}

.app-holder, .app-holder > div, .app-holder > noscript {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.columns-area {
  padding: 0;
  height: 100%;
}
.columns-area {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  position: relative;
}

.column, .drawer {
  flex: 0 0 auto;
  @include breakpoint(large) {
    padding: 10px 5px;
  }
}
.column, .drawer {
  flex: 1 1 100%;
  overflow: hidden;
}
.column {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.column-2, .column-3 {

  flex-basis: 60%;
  display: none;
  flex-direction: column;

  @include breakpoint(large) {
    display: flex;
  }

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.notification, .status__wrapper {
  position: relative;
}

.status {
  padding: 8px 10px 8px 68px;
  position: relative;
  min-height: 54px;
  border-bottom: 1px solid #393f4f;
  cursor: auto;
  opacity: 1;
  -webkit-animation: fade .15s linear;
  animation: fade .15s linear;
}

.status__expand {
  width: 68px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.status__info {
  font-size: 15px;
  margin-bottom: 5px;
}

.status__relative-time {
  text-decoration: none;
}

.notification__relative_time, .status__relative-time {
  color: #606984;
  float: right;
  font-size: 14px;
  padding-bottom: 1px;

  &:hover {
    text-decoration: underline;
  }
}

.status__info .status__display-name {
  display: block;
  max-width: 100%;
  padding-right: 25px;
}

.account__display-name, .detailed-status__application, .detailed-status__datetime, .detailed-status__display-name, .status__display-name, .status__relative-time {
  text-decoration: none;
}
.status__display-name {
  color: #606984;
}

.status__content {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
  color: #fff;

  img {
    max-width: 90%;
  }

  p {
    margin: 0 0 10px 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a:hover {
    text-decoration: underline;
  }
}
.status__content {
  clear: both;
}
.status__content--with-action {
  cursor: pointer;
}

.reply-indicator__content .status__content__text.status__content__text--visible, .status__content .status__content__text.status__content__text--visible {
  display: block;
}

.status__action-bar {
  align-items: center;
  margin-top: 8px;
  display: inline-block;
}

.status__action-bar-links {
  display: none;
  background: #d9e1e8;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 2px 4px 15px rgba(0,0,0,.4);
  z-index: 9999;
  position: absolute;
  min-width: 100px;
  bottom: 33px;

  a {
    font-size: 13px;
    line-height: 18px;
    display: block;
    padding: 4px 14px;
    box-sizing: border-box;
    text-decoration: none;
    background: #d9e1e8;
    color: #282c37;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: #2b90d9;
      color: #d9e1e8;
      outline: 0;
    }
  }
}

.status__action-bar-links {
  li {
    display: inline;
  }
}

.status__action-bar-button.icon-button--with-counter {
  margin-right: 14px;
}
.status__action-bar-button {
  margin-right: 18px;
}
.icon-button--with-counter {
  display: inline-flex;
  align-items: center;
  width: auto !important;
}
.icon-button {
  display: inline-block;
  padding: 0;
  color: #606984;
  border: 0;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  transition: all .1s ease-in;
  transition-property: background-color,color;
  text-decoration: none;

  &:hover {
    color: #707b97;
    background-color: rgba(96,105,132,.15);
    transition: all .2s ease-out;
    transition-property: background-color,color;
  }
}

.column > .scrollable {
  background: #282c37;
}
.scrollable {
  contain: strict;
}
.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

.status__display-name strong {
  color: #fff;
}
.display-name__html {
  font-weight: 500;
}

.reply-indicator__content, .status__content {
  font-size: 15px;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 400;
  color: #fff;
}

.status__avatar {
  height: 48px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 48px;

  .avatar {
    border-radius: 4px;
  }
}

a .account__avatar {
  cursor: pointer;
}

.account__avatar {
  border-radius: 4px;
  background: transparent no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: none;
  background-position: 50%;
  display: block;
  position: relative;
  background-size: 48px 48px;
  font-size: 48px;
}

.getting-started {
  color: #606984;
  overflow: auto;
}
.flex-spacer, .getting-started, .getting-started__wrapper {
  background: #282c37;
}

.getting-started__wrapper {
  flex: 0 0 auto;
}
.flex-spacer, .getting-started, .getting-started__wrapper {
  background: #282c37;
}
.getting-started__wrapper {
  margin-bottom: 10px;
}

.column-subheading {
  color: #606984;
  padding: 8px 15px;
  text-transform: uppercase;
  cursor: default;
}
.column-link__badge, .column-subheading {
  font-size: 12px;
  font-weight: 500;
  background: #282c37;
}

.column-link {
  background: #393f4f;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 12px 15px 12px 15px;
  text-decoration: none;
}

a.column-link {
  &:hover, &:focus {
    background: #404657;
  }
}

.tabs-bar__wrapper {

  background: #17191f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 0;

  .tabs-bar {
    box-sizing: border-box;
    display: flex;
    background: #393f4f;
    flex: 0 0 auto;
    overflow-y: auto;

    .tabs-bar__link {
      display: block;
      flex: 1 1 auto;
      padding: 10px 5px 7px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid #393f4f;
      transition: all 50ms linear;
      transition-property: all;
      transition-property: border-bottom,background,color;

      span {
        margin-left: 5px;
        display: none;
      }

      &:active, &:hover, &.active {
        border-bottom: 2px solid #2b90d9;
        color: #2b90d9;
      }
    }
  }

  @include breakpoint(large) {
    display: none;
  }
}

a {
  color: $link_color;
  text-decoration: none;
}

.node-form, .comment-form {
  padding: 10px;

  input, textarea {
    max-width: 95%;
  }

  .form-item {
    margin: 0.75em 0;
  }

  button {
    &.link {
      cursor: pointer;
      background: none;
      border: none;
      color: $link_color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  label[for] {
    cursor: pointer;
  }
  label {
    margin: 0 0 0.1em;
    padding: 0;
  }

  .vertical-tabs {
    details {
      border: none;
      margin: 10px 10px;
    }
  }

  details {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #bfbfbf;
    border-radius: 3px;

    .form-item {
      margin: 10px;
    }
  }

  div.description, .form-item .description {
    margin: 0.2em 0 0 0;
    font-size: 0.95em;
  }
}

.button {
  background-color: #2b90d9;
  border: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .1s ease-in;
  white-space: nowrap;
  width: auto;

  &:hover {
    background-color: #56a7e1;
    transition: all .2s ease-out;
  }
}

.new {
  text-align: center;
  margin-top: 5px;
}

.pager {
  padding: 10px;
  text-align: center;
}

.column-header__wrapper {
  position: relative;
  flex: 0 0 auto;
  z-index: 1;

  .column-header {
    display: flex;
    font-size: 16px;
    background: #313543;
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
    z-index: 2;
    outline: 0;
    overflow: hidden;
    padding-left: 3px;
  }

}

.column-header__collapsible.collapsed {
  max-height: 0;
  opacity: .5;
}
.column-header__collapsible {
  max-height: 70vh;
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  color: #9baec8;
  transition: max-height .15s ease-in-out,opacity .3s linear;
  opacity: 1;
  z-index: 1;
  position: relative;
}

.column-header__collapsible-inner {
  background: #393f4f;
  padding: 15px;
}

.column-header > button {
  margin: 0;
  border: 0;
  padding: 15px 0 15px 15px;
  color: inherit;
  background: transparent;
  font: inherit;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.column-header__buttons {
  height: 48px;
  display: flex;
}

.column-header__button {
  background: #313543;
  border: 0;
  color: #9baec8;
  cursor: pointer;
  font-size: 16px;
  padding: 0 15px;

  &:hover {
    color: #b2c1d5;
  }

  .icon-with-badge {
    position: relative;
  }

  &.search {
    display: none;
    @include breakpoint(large) {
      display: inline-block;
    }
  }

}

.column-header__icon {
  display: none;
  @include breakpoint(large) {
    margin-right: 5px;
    display: inline-block;
  }

}

.collapsed {
  display: none;
}

.column-header__collapsible__extra {

  a {

    padding: 10px;
    display: inline-block;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  ul {
    list-style-type: none;

    li {
      border-radius: 5px;
      background-color: #282c37;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.general-content {
  padding: 10px;
}

video {
  max-width: 90%;
}

.video, .audio {
  margin-top: 15px;
}

.user-login-form, .user-pass, .user-pass-reset, .reader-settings-user-form {
  padding: 10px;
}

.reader-settings-user-form .form-item, .user-login-form .form-item, .user-pass .form-item {
  margin-bottom: 10px;
}

.user-pass .form-actions, .user-login-form .form-actions, .user-pass-reset .form-actions {
  margin-top: 10px;
}

.reader-settings-user-form .form-item > label {
  display: inline-block;
  min-width: 140px;
}

.drupal-messages {
  position: absolute;
  bottom: 50px;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
  background: #313543;
  width: 91%;

  @include breakpoint(large) {
    bottom: 20px;
    width: 94%;
  }
}

.response-type {
  margin-bottom: 5px;
}

.context {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #393f4f;
  border-radius: 5px;
  background-color: #404657;
}

.media-gallery {
  margin-top: 8px;
  border-radius: 4px;
  width: 100%;
  min-height: 64px;

  .media-gallery__item-thumbnail {
    border: 0;
    display: block;
    float: left;
    max-width: 50%;
    max-height: 200px;

    &:hover {
      cursor: pointer;
    }
  }
}

.reader-content-table {
  font-size: 16px;
  width: 100%;
  border-spacing: 0;
  th {
    background: #404657;
    text-align: left;
  }
  td, th {
    padding: 10px;
  }
  tr {
    &:hover {
      background: #404657;
    }
  }
}

.pager {
  font-size: 16px;
  li {
    margin: 0 5px;
    display: inline-block;
    &.is-active {
      text-decoration: underline;
      color: #4ea2df;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reader-more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  padding: 6px;
  width: 100%;
  background: #404657;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 10px #000;
}

.status__content__text {
  h2 {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 24px;
  }
}

#reader-search-form {
  input, textarea {
    max-width: 95%;
  }

  .form-submit {
    margin: 0;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 0;
    top: 14px;
    background: none;
    font-size: 0;
  }

  .search-submit {
    position: absolute;
    font-size: 18px;
    height: 32px;
    width: 32px;
    right: 12px;
    top: 20px;
  }
}

.response-action-last {
  border-bottom: 1px solid #c0cdd9;
}

.page-load-status {
  display: none; /* hidden by default */
  padding: 10px;
  text-align: center;
  color: #777;
}

.reader-sources-container {

  .reader-sources-confirm-delete {
    font-size: 18px;
    padding: 10px;
  }

  input, textarea {
    max-width: 95%;
  }

  form {
    padding: 10px;
  }

  .form-item {
    padding: 10px 0;
    .description {
      padding-top: 5px;
    }
  }

  .side-padding {
    padding: 0 10px;
  }

  .form-actions {
    padding-top: 10px;
  }

  .smaller-text {
    font-size: 10px;
  }

}
